body {
    background-color: white;
    font-family: sans-serif;
    color: white;
}
.card {
    background: linear-gradient(135deg, #1e2a38 60%, #2980b9 100%);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    text-shadow: 0 0 35px black;
    border-radius: 7px;
}

.card_title {
    font-size: 22px;
    margin: 0;
    color: #f7ca18; /* Amarillo dorado */
}

.card_subtitle {
    font-size:13px;
    font-weight: 100;
    letter-spacing:  2px;
    margin: 0;
    margin-top: 5px;
    color: #ffffff; /* Blanco */
}

.card_content {
    font-size: 9px;
    padding: 10px;
    padding-bottom: 0%;
    text-align: justify;
    margin-bottom: 0%;
    color: #eaeaea; /* Gris claro */
}


.card_image {
    width: 86%;
    border-radius: 50%;
    border: 4px solid #f7ca18; /* Borde dorado */
}
