body {
margin: 0;
}

.box{

    width: 300px;
    height: 400px;
    background:rgb(174, 153, 153);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 20px 10px 10px black;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
}

h2 {
    font-family: sans-serif;
    color: antiquewhite;
    text-align: center;
}

p {
    font-family: sans-serif;
    color: antiquewhite;
    line-height: 1.5;
    text-align: justify;

}
